@charset "utf-8";

// import font awesome
@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Import glacial indifference Font
@import url('https://fontlibrary.org/face/glacial-indifference');

// Set your brand colors
//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

// Update Bulma's global variables
//$family-sans-serif: "Nunito", sans-serif;
$family-sans-serif: "GlacialIndifferenceRegular", sans-serif;
$section-padding: 3rem 5rem;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";

html {
    background-color: #eeeeee;
}
.title {
    color: #404040;
}
.subtitle {
    color: #545454;
}
.box {
    color: #545454;
}
